*.jpg
*.pdf
*.ps 
*.png
*.pyc
*.grd
*.nc
contrib/*
early_work/*
.idea/*
build
dist
Strain_Tools/*.egg*
*.swp
.DS*
example/Output
test/testing_data/output/*
TODO.md
claude.md
example/.ipynb_checkpoints/
*.txt
*.log
*.out
*.dat
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/